@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', monospace;
  background-color: #050917; 
  color: #FEE0A0;            
  min-height: 100vh;
  padding: 10px;
  overflow-x: hidden;
  
}

.viwe {
  background-image: url("/icons/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   background-attachment: fixed;
}

label {
  margin: 5px;
  padding: 12px;
  color: #FEE0A0;
}

textarea,
input,
select {
  font-family: inherit;
  background-color: #271B43;   
  color: #FEE0A0;              
  border: 1px solid #913F59;  
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  width: 95%;
}

button {
  font-family: inherit;
  padding: 6px 12px;
  background-color: #DB5AAA;  
  color: #050917;            
  border: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button:hover {
  background-color: #913F59;  
  color: #FEE0A0;
}

#status {
  margin-top: 10px;
  font-size: 10px;
  color: #388e3c; 
}

#notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  margin-top: 10px;
}

.note-card {
  background-color: #271B43;   
  color: #FEE0A0;              
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.08);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  transition: background-color 0.3s ease;
}

.note-card strong {
  display: block;
  font-size: 10px;
  margin-bottom: 5px;
  color: #DB5AAA; 
}

.note-card a {
  color: #FEE0A0;
  text-decoration: none;
  font-size: 10px;
  word-wrap: break-word;
}

.note-card a:hover {
  text-decoration: underline;
  color: #DB5AAA;
}

.note-content {
  background-color: #050917; 
  border: 1px solid #913F59;
  padding: 8px;
  margin-bottom: 5px;
  min-height: 50px;
  border-radius: 4px;
  font-size: 10px;
  white-space: pre-wrap;
  color: #FEE0A0;
}

.note-card small {
  font-size: 8px;
  color: #f5cb72;
}

h3 {
  margin-top: 10px;
  font-size: 30px;
  color: #FEE0A0;
}

#search,
#filter-tag {
  font-size: 10px;
  background-color: #271B43;
  color: #FEE0A0;
  border: 1px solid #913F59;
  border-radius: 4px;
  padding: 4px;
  width: 160px;
}

.tag {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  margin-right: 4px;
  color: #FEE0A0; 
}
